/* o * serve para toda pagina */
* {}

/*Posso concatenar com varios objetos*/
#inputFile {}

/*Cores em RGB*/
#btnEnviar {
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 35px;
    color: white;
    background-color: rgb(40, 25, 155);
    cursor: pointer;
    background: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 1%,
  rgb(22, 74, 243) 35%,
  rgb(109, 0, 160) 100%
);
    
}

#btnEnviar:hover {
    background: linear-gradient(
  90deg,
  rgb(9, 0, 177) 1%,
  rgb(73, 70, 255) 35%,
  rgb(174, 0, 255) 100%
);
}

/*Cores em HEXADECIMAL*/
#btnReset {
    background-color: #d6d6d6;
    border-radius: 15px;
    border: none;
    width: 150px;
    height: 35px;
    font: 600;
    cursor: pointer;
}

.pai{
    width: 50vw;
    height: 50vh ;
    background: #949494;
}
.filho{
    width:30%;
    height: 50%;
    padding: 50px;
   

    
}
.input{
    width: 100%;
    height: 100%;
}
.rua, .n{
    width: 130%;
    height: 35px;
    border-radius: 8px;
    border: none;
}

